
  <footer class="footer  py-5">
    <div class="container">
      <div class="row">

             <div class="col-log-3 col-md-6 col-sm-6">
                  <div class="footer-about">
                    <div class="footer-logo">
                      <a class="data" href="Accueill.html"><h1><img src="moi/image/fe.jpg" alt="" width="40" height="34" class="d-inline-block align-text-top">Joss Market<img src="moi/image/ani.png" alt="" width="40" height="34" class="d-inline-block align-text-top"></h1></a>
                    </div>
                    <p>votre Magasin d'alimentations et d'épicerie bio en ligne.Fruits, légumes, graines,céréales , animaux et viande biologique frais </p>
               <p><strong>Address:</strong>N2,Yaounde(Mvogmbi),Cameroun</p>
               <p><strong>Email:</strong>info@jossmarket.com</p>
               <p><strong>Call Us:</strong>671255403 , 699441907</p>
                  </div>
             </div>

                  <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-widget">
                       <h6>Categorie</h6>
                       <ul>
                        <li><a href="complement.html">Complement</a></li>
                        <li><a href="epice.html">épices </a></li>
                        <li><a href="legumes.html">légumes</a></li>
                        <li><a href="boucherie.html">Boucheries</a></li>
                        <li><a href="fruits.html">Fruits</a></li>
                        
                        <li><a href="graines et cereale.html">graines et céréales</a></li>
                       
                    </ul>
                    </div>
                  </div>
                  <div class="col-lg-2  col-md-3 col-sm-6">
                    <div class="footer-widget">
                       <h6>Navigation</h6>
                       <ul>
                        <li><a href="Accueill.html">Accueil</a></li>
                        <li><a href="magasin.html">Magasin </a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="A propos nous.html">A propos</a></li>
                        <li><a href="commandez.html">Commandez</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-lg-2  col-md-6 col-sm-6">
                    <div class="footer-widget">
                       <h6>Envoyez un message</h6>
                       <div class="footer-newsletter">
                         <p>soit le premier a nous ecris pour avoir tout les informations sur nos arrivage nos promotions</p>
                         <form action="#">
                           <input type="text" placeholder="Your Email">
                           <button type="submit"><span><i class="fa fa-envelope" arial-hidden="true"></i></span></button>
                         </form>
                       </div>
                       
                    </div>
                  </div>
                  </div >   
           
        <div class="row">
          <div class="col-lg-12 text-center ft">
            <div class="footer-copyright-text"><p>Copyright &copy;2021 All rights reserved | This template is made width<i class="fas fa-heart"></i>
              by kuissu joss</p></div>
            
          </div>
        </div>          
                   
    
    </div>
  </footer>          
            